{% comment %}
 Wishlist Hero Snippets -  V 1.0.0
{% endcomment %}{% assign wishlistHero = shop.metafields.wishlistHero %}
{% assign key = 'WishListHero_iconType' %}
{% assign wishlistHeroIconClass = 'wlh-icon-heart-empty' %}
{% if wishlistHero.WishListHero_iconType %}
 {% assign wishlistHeroIconClass = wishlistHero.WishListHero_iconType %}
{% endif %}

{% assign wishlistHero = shop.metafields.wishlistHero %} 
{% assign key = 'WishListHero_ShowHeaderIcon' %}
 {% if wishlistHero.WishListHero_ShowHeaderIcon != 'false' %}
<!-- Wishlist Hero Header Icon -->
<a class="Header__Icon Icon-Wrapper site-nav__link site-nav__link--icon Icon-Wrapper--clickable Wlh-Header__Icon wishlist-hero-header-icon" href="#hero-wishlist" arial-label="Open Wishlist">
{% case wishlistHeroIconClass %}{% when 'wlh-icon-heart-empty' %}{% render 'wlh-icon-heart-empty' ,buttonClasses:'wlh-svg-Icon wlh-svg-icon-heart-empty',buttonStyles:'width:1em;font-size:22px;margin-top:6px;' %}{% when 'wlh-icon-star-empty' %}{% render 'wlh-icon-star-empty' ,buttonClasses:'wlh-svg-Icon wlh-svg-icon-star-empty',buttonStyles:'width:1em;font-size:24px;margin-top:5px;'%}{% when 'wlh-icon-bookmark-empty' %}{% render 'wlh-icon-bookmark-empty',buttonClasses:'wlh-svg-Icon wlh-svg-icon-bookmark-empty',buttonStyles:'width:1em;font-size:18px;margin-top:5px;' %}{% endcase %}
</a>
 {% endif  %}
<!-- end -->